body
{
  background: #000;
}
p
{
  padding-right: 0;
  text-align: justify;
  font-size: 12px;
  line-height: 10px;
  background-image: url("secret.jpg");
  max-width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
 -webkit-text-fill-color: rgba(255,255,255,0);
 -webkit-background-clip: text;

}

/* @media (max-width:375) and (max-height: 812) {
  body
  {
    margin: 0;
    padding: 0;

  }
  p
  {
    font-size: 12px;
    line-height: 10px;
    background-image: url("grace.jpg");
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
   -webkit-text-fill-color: rgba(255,255,255,0);
   -webkit-background-clip: text;
  }

} */
